---
import {getCollection} from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Layout>
    <section class={`pb-[24px] pt-[24px]`}>
        <nav
                class={`
            mb-[12px] flex items-center  
            justify-between 
        `}
        >
            <h2
                    class={`
            
                    pb-[12px] text-h3-sm font-bold
                `}
            >
              Inspirations

              <p>We've scoured web rankings and social media to compile the ultimate list of travel's most important, useful, and entertaining blogs.</p>
            </h2>
        </nav>

        <section class={`relative min-h-[500px]`}>
            <section
                    class={`
                                grid grid-cols-2 grid-rows-4 gap-2 sm:grid-cols-3
                          `}
            >
                {
                    posts.map((post) => (
                            <a href={`/blog/${post.slug}/`}
                               class={`relative mb-[12px] transition-all`}
                            >
                                <div class="relative rounded-[6px] overflow-hidden mb-[4px]">
                                  <img
                                      width={400}
                                      height={600}
                                      src={post.data.heroImage}
                                      title={post.data.title}
                                      alt={`${post.data.title} poster`}
                                  />
                                </div>
                              <h4 class="title">{post.data.title}</h4>
                              <p class="date">
                                <FormattedDate date={post.data.pubDate} />
                              </p>
                            </a>
                    ))
                }
            </section>
        </section>

    </section>
</Layout>
