---
import {type CollectionEntry, getCollection} from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PageHeadInfo from "@/components/PageHeadInfo.astro";
import {random} from "../utils/utils";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: {slug: post.slug},
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const {
    title,
    description,
    heroImage,
} = post.data;
const {Content} = await post.render();
---

<Layout>
    <section class={`container mx-auto`}>
        <article class="post-page">
            <PageHeadInfo title={title} description={description}/>

            <div class={`flex items-center flex-wrap justify-center m-auto mb-[32px]`}>
              <div class={`flex items-center mr-[16px] rounded-full`}>
                <img class={`rounded-full float-left h-full`} height="64" width="64"
                     src={`https://randomuser.me/api/portraits/women/${random(0, 100)}.jpg`}>
                <p class={`flex flex-col ml-[8px]`}>
                  <span class={`font-medium text-[18px] mt-[10px] mb-[-10px]`}>Kate Horwitz</span>
                  <span class={`italic text-[14px] font-light`}>@kate_horwitz</span>
                </p>
              </div>

              <blockquote class={`max-w-[700px] !text-[24px] !leading-[28px] !mb-0`}>
                I think setting a goal, getting a visual image of what it is you want. You've got to see what it is you want to achieve before you can pursue it.
              </blockquote>
            </div>

            <div class="hero-image">
                {heroImage && <img width={1020} height={510} src={heroImage} alt=""/>}
            </div>
            <Content/>
        </article>
    </section>
</Layout>

<style is:inline>
    .hero-image {
        width: 100%;
    }

    .hero-image img {
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
        border-radius: 6px;
    }

    .post-page {
      padding-bottom: 100px;
    }

    .post-page p {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .post-page #h1,
    .post-page h1 {
        font-size: 42px;
        margin-bottom: 16px;
    }

    .post-page #h2,
    .post-page h2 {
        font-size: 38px;
        margin-bottom: 16px;
    }

    .post-page #h3,
    .post-page h3 {
        font-size: 34px;
        margin-bottom: 16px;
    }

    .post-page #h4,
    .post-page h4 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .post-page #h5,
    .post-page h5 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .post-page #h6,
    .post-page h6 {
        font-size: 22px;
        margin-bottom: 16px;
    }


    .post-page blockquote {
      margin: 0;
      margin-bottom: 24px;
      padding: 0 0 0 20px;
      border-left: 4px solid rebeccapurple;
    }

    .post-page blockquote p {
      font-size: 20px;
      font-style: italic;
      font-weight: 300;
    }

    .post-page pre {
      margin-bottom: 24px;
      padding: 16px;
      border-radius: 6px;
      overflow-x: auto;
    }

    .post-page table th, .post-page table td {
      color: #383636;
      border: 1px solid #eee;
      padding: 12px 35px;
      border-collapse: collapse;
    }

    .post-page table th {
      background: rgba(244 114 182);
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      &.last {
        border-right: none;
      }
    }

    .post-page table tr {
      &:hover {
        background: #f4f4f4;
        td {
          color: #383636;
        }
      }
    }

    .post-page table {
      margin: 25px auto;
      border-collapse: collapse;
      border: 1px solid #eee;
      border-bottom: 2px solid rgb(244 114 182);
      box-shadow: 0 0 20px rgba(0,0,0,0.10),
      0 10px 20px rgba(0,0,0,0.05),
      0 20px 20px rgba(0,0,0,0.05),
      0 30px 20px rgba(0,0,0,0.05);
    }

    .post-page ul {
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 40px;
    }

    .post-page ol li,
    .post-page ul li {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 32px;
    }

    .post-page ul ul {
      list-style-type: circle;
    }

    .post-page ol {
      display: block;
      list-style-type: decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 40px;
    }

    .post-page a {
      color: rgb(244 114 182);
    }

</style>


