---
import HeaderLink from "@/components/HeaderLink.astro";
import { GITHUB } from "@/utils/consts";
import Icon from "@/components/Icon.astro";
import { LINKEDIN } from "@/utils/consts";
import { PAGE_NAME, URLS } from "../utils/consts";

const nav = [
  {
    title: PAGE_NAME.HOME,
    url: URLS[PAGE_NAME.HOME],
  },
  {
    title: PAGE_NAME.ANIME,
    url: URLS[PAGE_NAME.ANIME],
  },
  {
    title: PAGE_NAME.FINANCE,
    url: URLS[PAGE_NAME.FINANCE],
  },
  {
    title: PAGE_NAME.LIFE,
    url: URLS[PAGE_NAME.LIFE],
  },
  {
    title: PAGE_NAME.MUSIC,
    url: URLS[PAGE_NAME.MUSIC],
  },
  {
    title: PAGE_NAME.MOVIE,
    url: URLS[PAGE_NAME.MOVIE],
  },
  {
    title: PAGE_NAME.SPORT,
    url: URLS[PAGE_NAME.SPORT],
  },
  {
    title: PAGE_NAME.GAMES,
    url: URLS[PAGE_NAME.GAMES],
  },
];
---

<header
  class={` 
            flex justify-between items-center
            pb-[20px] pl-[24px] pr-[24px]
            pt-[20px] 
        `}
>
  <nav class={`flex items-center`}>
    <a href={GITHUB} target="_blank" class={"mr-[12px]"}>
      <Icon icon="github" />
    </a>
    <a href={LINKEDIN} target="_blank">
      <Icon icon="linkedin" />
    </a>
  </nav>

  <a
    href="/"
    class={`font-thin text-[22px] translate-x-0] sm:translate-x-[-15px]`}
  >
    Bloggus
  </a>

  <nav class={"relative"}>
    <button
      data-js-hamburger-menu
      class={`text-gray-500 w-10 h-10 relative focus:outline-none bg-white`}
    >
      <span
        class={`block w-10 absolute left-1/2 top-1/2  transform  -translate-x-1/2 -translate-y-1/2`}
      >
        <span
          class={`pointer-events-none select-none block absolute h-0.5 w-7 bg-current transform transition duration-500 ease-in-out -translate-y-1.5`}
        ></span>
        <span
          class={`pointer-events-none select-none block absolute h-0.5 w-7 bg-current transform transition duration-500 ease-in-out`}
        ></span>
        <span
          class={`pointer-events-none select-none block absolute h-0.5 w-7 bg-current transform transition duration-500 ease-in-out translate-y-1.5`}
        ></span>
      </span>
    </button>
    <ul
      data-js-menu
      class={`
                    absolute z-20 top-[40px] right-[12px] z-10 
                    hidden flex-col items-center 
                    w-[200px]
                    shadow border-[2px] border-solid border-pink-400 bg-white
                `}
    >
      {
        nav.map((menuItem, index) => {
          return (
            <li
              class={`
                                        w-[100%] p-[12px] pl-[12px] pr-[12px] 
                                        
                                        ${index < nav.length - 1 ? "border-b-[1px]" : ""} 
                                        border-solid border-pink-400
                                        
                                        transition-all hover:text-pink-400
                                    `}
            >
              <HeaderLink href={menuItem.url}>{menuItem.title}</HeaderLink>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

<script>
  import {HTMLElement} from "node-html-parser";

  const init = () => {
    const menuButton: HTMLButtonElement | null = document.querySelector("[data-js-hamburger-menu]");
    const menu: Element | null = document.querySelector("[data-js-menu]");

    if (menuButton && menu) {
      menuButton.addEventListener("click", () => {
        menu.classList.toggle("!flex");
      });

      window.addEventListener("click", (e) => {
        if (e.target !== menuButton) {
          menu.classList.add("hidden");
          menu.classList.remove("flex");
          menu.classList.remove("!flex");
        }
      });
    }

  };

  init();

  document.addEventListener("astro:after-swap", init);
</script>
